.friendNameSurname {
  font-size: 13px;
  /* border: 1px solid #6c6c6c; */
}

.selfie:hover {
  box-shadow: 2px 2px 2px #6c6c6c;
}

.selfie {
  border: 1px solid black;
}

.modalSelfie {
  border: 1px solid #5B5B5B;
  border-radius: 20px;
}

.friendNameSurname:hover {
  user-select: none;
  color: rgb(102, 187, 169);
}